Boomers.Utilities/Web References/EmailFeederWS/EmailFeeder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="PullEmails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="token" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PullEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PullEmailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PullEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:PullEmails" />
  </wsdl:message>
  <wsdl:message name="PullEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:PullEmailsResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailFeederSoap">
    <wsdl:operation name="PullEmails">
      <wsdl:input message="tns:PullEmailsSoapIn" />
      <wsdl:output message="tns:PullEmailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailFeederSoap" type="tns:EmailFeederSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PullEmails">
      <soap:operation soapAction="http://tempuri.org/PullEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailFeederSoap12" type="tns:EmailFeederSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PullEmails">
      <soap12:operation soapAction="http://tempuri.org/PullEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailFeeder">
    <wsdl:port name="EmailFeederSoap" binding="tns:EmailFeederSoap">
      <soap:address location="http://localhost:1253/Utopiapimp/EmailFeeder.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailFeederSoap12" binding="tns:EmailFeederSoap12">
      <soap12:address location="http://localhost:1253/Utopiapimp/EmailFeeder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>